# SPDX-FileCopyrightText: 2023 perillamint
# 
# SPDX-License-Identifier: MIT

SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="05a9", ATTR{idProduct}=="0580", MODE="0666", RUN+="/usr/local/bin/omnivision-fwldr --firmware /usr/lib/firmware/sony/CFI-ZEY1.bin"